<li> 
  <!--Avatar--> 
  <img alt="avatar" class="avatar" src="/images/assets/user.png" width="35" height="35"/> 
  <!--Author-->
  <div class="author"> <a href="#"></a>
    <h4><a href="#"><%= message.user.name %></a></h4>
  </div>
  <!--Meta-->
  <div class="meta"> <a href="#">January 22, 2011 at 4:43 pm</a> </div>
  <!--Body-->
  <div class="body">
    <p>
      <%= message.content %>
    </p>
  </div>
</li>
<li class="separator"></li>