<!--DashboardNavigation-->
<ul class="clearfix" id="navigation">
  <li class="current"><a class="current" href="#"><img alt="dashboard" class="icon" src="/images/assets/dashboard.png"/>Summary</a></li>
  <li><a href="#modaldemo" rel="modal"><img alt="inbox" class="icon" src="/images/assets/inbox.png"/>Inbox<span class="notification" rel="tooltip" original-title="You have 15 new messages">15</span></a>
    <ul>
      <li><a href="#" title="">Write New</a></li>
      <li><a href="#" title="">Junk</a></li>
      <li><a href="#" title="">Deleted</a></li>
    </ul>
  </li>
  <li> <a href="#"><img alt="layout" class="icon" src="/images/assets/layout.png"/>Layouts</a>
    <ul>
      <li><a href="#" title="">Add New</a></li>
      <li><a href="#" title="">Edit</a></li>
      <li><a href="#" title="">View</a></li>
    </ul>
  </li>
  <li><a href="http://themeforest.com" title="Navigation with Link" target="_new"><img alt="statistics" class="icon" src="/images/assets/statistics.png"/>Statistics</a></li>
  <li class="separator"></li>
</ul>