

<!--Table-->
<div class="box hidden"> 
  <!--Title-->
  <div class="header">
    <h2><a href="#">Menara Telkomsel untuk Ekor</a></h2>
    <!--Draggable--> 
    <span class="draggable"></span> <span class="toggle"></span> 
  </div>
  <!--Content-->
  <div class="content padding">
    <ul class="inbox">
      <li> 
        <!--Avatar--> 
        <img alt="avatar" class="avatar" src="/images/assets/user.png" width="35" height="35"/> 
        <!--Author-->
        <div class="author"> <a href="#"></a>
          <h4><a href="#">Willy Y. Wirawan</a></h4>
        </div>
        <!--Meta-->
        <div class="meta"> <a href="#">January 22, 2011 at 4:43 pm</a> - <a href="#">Reply</a> </div>
        <!--Body-->
        <div class="body">
          <p>
            Boss, menara Telkomsel di Ekor butuh dipercepat nih. Soalnya control keadaan lapangan
            sangat sulit kalau musti melalui telephone satelit (secara kita cuman punya 2 biji).
          </p>
        </div>
      </li>
      <!--separator-->
      <li class="separator"></li>
      <li> 
        <!--Avatar--> 
        <img alt="avatar" class="avatar" src="/images/assets/user.png" width="35" height="35"/> 
        <!--Author-->
        <div class="author"> <a href="#"></a>
          <h4><a href="#">Big Boss</a></h4>
        </div>
        <!--Meta-->
        <div class="meta"> <a href="#">January 22, 2011 at 4:43 pm</a> - <a href="#">Reply</a> </div>
        <!--Body-->
        <div class="body">
          <p>
            Emang kenapa yah Wil? Bukannya kata Pak Norman sudah bisa buat sms atau nelpon 2-3 orang? 
            Lagipula, saya sudah tanya Pak LHS. Kata dia masih ok tuh. 
          </p>
        </div>
      </li>
      <!--separator-->
      <li class="separator"></li>
      <li> 
        <!--Avatar--> 
        <img alt="avatar" class="avatar" src="/images/assets/user.png" width="35" height="35"/> 
        <!--Author-->
        <div class="author"> <a href="#"></a>
          <h4><a href="#">Donny A.</a></h4>
        </div>
        <!--Meta-->
        <div class="meta"> <a href="#">January 22, 2011 at 4:43 pm</a> - <a href="#">Reply</a> </div>
        <!--Body-->
        <div class="body">
          <p>
            Buat komunikasi sih emang masih OKE. Cumannya, itu repeater, kita sudah deal ama BGS 
            buat gratis pasang di Obi (TBP, soalnya sinyal disono kehalang bukit) + yang di Ekor 
            di tuker sama yang baru. Lumayan kan hemat 150 juta.
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>


<div class="box hidden"> 
  <!--Title-->
  <div class="header">
    <h2><a href="#">Pembelian laptop untuk HEOS programmer Timur</a></h2>
    <!--Draggable--> 
    <span class="draggable"></span> <span class="toggle"></span> 
  </div>
  <!--Content-->
  <div class="content padding">
    <ul class="inbox">
      <li> 
        <!--Avatar--> 
        <img alt="avatar" class="avatar" src="/images/assets/user.png" width="35" height="35"/> 
        <!--Author-->
        <div class="author"> <a href="#"></a>
          <h4><a href="#">Irfan Effendi</a></h4>
        </div>
        <!--Meta-->
        <div class="meta"> <a href="#">January 22, 2011 at 4:43 pm</a> - <a href="#">Reply</a> </div>
        <!--Body-->
        <div class="body">
          <p>
            Bos, ini rencananya buat implementasi HEOS di timur, kita bakal modif sebagian kecil dari
            alur HEOS agar sesuai dengan business process. Jadinya, kita nambah 3 programmer baru. Mereka ini 
            kita pilih yang pengalaman: 5 tahun programming Java (bahasa yg dipake di HEOS). Typical salary
            mereka itu 5 jt an. 

            Tapinya, untuk support programmer, kita butuh tambahan laptop nih. 
          </p>
        </div>
      </li>
      <!--separator-->
      <li class="separator"></li>
      <li> 
        <!--Avatar--> 
        <img alt="avatar" class="avatar" src="/images/assets/user.png" width="35" height="35"/> 
        <!--Author-->
        <div class="author"> <a href="#"></a>
          <h4><a href="#">Big Boss</a></h4>
        </div>
        <!--Meta-->
        <div class="meta"> <a href="#">January 22, 2011 at 4:43 pm</a> - <a href="#">Reply</a> </div>
        <!--Body-->
        <div class="body">
          <p>
            Ya sudah, kesini bawa IM, resume programmer2nya  yah. Saya mau lihat dulu.
          </p>
        </div>
      </li>
      <!--separator-->
      <li class="separator"></li>
      <li> 
        <!--Avatar--> 
        <img alt="avatar" class="avatar" src="/images/assets/user.png" width="35" height="35"/> 
        <!--Author-->
        <div class="author"> <a href="#"></a>
          <h4><a href="#">Irfan Effendi</a></h4>
        </div>
        <!--Meta-->
        <div class="meta"> <a href="#">January 22, 2011 at 4:43 pm</a> - <a href="#">Reply</a> </div>
        <!--Body-->
        <div class="body">
          <p>
            Siap bos.
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>









<!--Inbox-->
<div class="box hidden"> 
  <!--Title-->
  <div class="header">
    <h2><a href="#">Strategi go live HEOS untuk Harita timur</a></h2>
    <!--Draggable--> 
    <span class="draggable"></span> <span class="toggle"></span> </div>
    <!--Content-->
    <div class="content padding">
      <ul class="inbox">
        <li> 
          <!--Avatar--> 
          <img alt="avatar" class="avatar" src="/images/assets/user.png" width="35" height="35"/> 
          <!--Author-->
          <div class="author"> <a href="#"></a>
            <h4><a href="#">Username</a></h4>
          </div>
          <!--Meta-->
          <div class="meta"> <a href="#">January 22, 2011 at 4:43 pm</a> - <a href="#">Reply</a> </div>
          <!--Body-->
          <div class="body">
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non nulla sapien, quis luctus felis. Fusce sodales tempus tincidunt.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non nulla sapien, quis luctus felis. Fusce sodales tempus tincidunt. </p>
            </div>
          </li>
          <!--separator-->
          <li class="separator"></li>
          <li> 
            <!--Avatar--> 
            <img alt="avatar" class="avatar" src="/images/assets/user.png" width="35" height="35"/> 
            <!--Author-->
            <div class="author"> <a href="#"></a>
              <h4><a href="#">Username</a></h4>
            </div>
            <!--Meta-->
            <div class="meta"> <a href="#">January 22, 2011 at 4:43 pm</a> - <a href="#">Reply</a> </div>
            <!--Body-->
            <div class="body">
              <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non nulla sapien, quis luctus felis. Fusce sodales tempus tincidunt.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non nulla sapien, quis luctus felis. Fusce sodales tempus tincidunt. </p>
              </div>
            </li>
            <!--separator-->
            <li class="separator"></li>
            <li> 
              <!--Avatar--> 
              <img alt="avatar" class="avatar" src="/images/assets/user.png" width="35" height="35"/> 
              <!--Author-->
              <div class="author"> <a href="#"></a>
                <h4><a href="#">Username</a></h4>
              </div>
              <!--Meta-->
              <div class="meta"> <a href="#">January 22, 2011 at 4:43 pm</a> - <a href="#">Reply</a> </div>
              <!--Body-->
              <div class="body">
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non nulla sapien, quis luctus felis. Fusce sodales tempus tincidunt. </p>
              </div>
            </li>
          </ul>
        </div>
      </div>