<!--Content-->
<div class="content padding">
  <ul class="inbox">
    <li> 
      <!--Avatar--> 
      <img alt="avatar" class="avatar" src="/images/assets/user.png" width="35" height="35"/> 
      <!--Author-->
      <div class="author"> <a href="#"></a>
        <h4><a href="#">Willy Y. Wirawan</a></h4>
      </div>
      <!--Meta-->
      <div class="meta"> <a href="#">January 22, 2011 at 4:43 pm</a> </div>
      <!--Body-->
      <div class="body">
        <p>
          Boss, menara Telkomsel di Ekor butuh dipercepat nih. Soalnya control keadaan lapangan
          sangat sulit kalau musti melalui telephone satelit (secara kita cuman punya 2 biji).
        </p>
      </div>
    </li>
    <!--separator-->
    <li class="separator"></li>
    <li> 
      <!--Avatar--> 
      <img alt="avatar" class="avatar" src="/images/assets/user.png" width="35" height="35"/> 
      <!--Author-->
      <div class="author"> <a href="#"></a>
        <h4><a href="#">Sudirman Utomo</a></h4>
      </div>
      <!--Meta-->
      <div class="meta"> <a href="#">January 22, 2011 at 4:43 pm</a>  </div>
      <!--Body-->
      <div class="body">
        <% form_for project.messages.new, :url => project_messages_url( project.id ) do |f| %>
          <%= f.text_area :content , :cols => 100, :rows => 1 ,:class => "autoResize" %><br />
          <%= f.submit %>
        <% end %>
      </div>
    </li>
    <!--separator-->
    <!-- <li class="separator"></li> -->
  </ul>
</div>