<!--Content-->
<div class="content padding">
  <ul class="inbox">
    <% for message in project.messages %>
      <%= render :partial => "messages/message" , :locals => { :message => message }%>
    <% end %>
    
    <%= render :partial => "messages/message_form", :locals => { :project => project } %>
    <!--separator-->
    
    
    <!--separator-->
    <!-- <li class="separator"></li> -->
  </ul>
</div>