<!--Content-->
<div id="content">
  <div class="container clearfix" id="projects"> 
    
    <% for project in @projects %>
      <div class="box hidden" id="project_<%= project.id %>"> 
        <!--Title-->
        <div class="header">
          <h2><a href="#"><%= project.name %></a></h2>
          <!--Draggable--> 
          <span class="draggable"></span> <span class="toggle"></span> 
        </div>
        <%= render :partial => "layouts/box_content" , :locals => {:project => project} %>
      </div>
    <% end %>





    <!--Footer-->
    <div id="footer" class="separator"> 
      <!-- Remove this notice or replace it with whatever you want --> 
      &#169; Copyright 2011 Harita |  <a href="#">Top</a> </div>
      <!--End .container--> 
    </div>
    <!--End #content--> 
  </div>


<!--content for adding new category -->
<div id="modal_new_master_category" style="display:none;">
  <%# form_for @category, :html=> {:class => "modal_form"} do |f| %>
  <%#= f.label :name  , "New Category Name" %>
  <%#= f.text_field :name %>
  <%#= f.submit "Submit", :class => "button modal_submit"%>
  <%# end %>
  <div>
  <!--demo content for facebox-->
  <div id="modaldemo" style="display:none;">
    <ul class="inbox">
      <li> 
        <!--Avatar--> 
        <img alt="avatar" class="avatar" src="/images/assets/user.png" width="35" height="35"/> 
        <!--Author-->
        <div class="author"> <a href="#"></a>
          <h4><a href="#">Username</a></h4>
        </div>
        <!--Meta-->
        <div class="meta"> <a href="#">January 22, 2011 at 4:43 pm</a> - <a href="#">Reply</a> </div>
        <!--Body-->
        <div class="body">
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non nulla sapien, quis luctus felis. Fusce sodales tempus tincidunt. </p>
        </div>
      </li>
      <!--separator-->
      <li class="separator"></li>
      <li> 
        <!--Avatar--> 
        <img alt="avatar" class="avatar" src="/images/assets/user.png" width="35" height="35"/> 
        <!--Author-->
        <div class="author"> <a href="#"></a>
          <h4><a href="#">Username</a></h4>
        </div>
        <!--Meta-->
        <div class="meta"> <a href="#">January 22, 2011 at 4:43 pm</a> - <a href="#">Reply</a> </div>
        <!--Body-->
        <div class="body">
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non nulla sapien, quis luctus felis. Fusce sodales tempus tincidunt. </p>
        </div>
      </li>
      <!--separator-->
      <li class="separator"></li>
      <li> 
        <!--Avatar--> 
        <img alt="avatar" class="avatar" src="/images/assets/user.png" width="35" height="35"/> 
        <!--Author-->
        <div class="author"> <a href="#"></a>
          <h4><a href="#">Username</a></h4>
        </div>
        <!--Meta-->
        <div class="meta"> <a href="#">January 22, 2011 at 4:43 pm</a> - <a href="#">Reply</a> </div>
        <!--Body-->
        <div class="body">
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non nulla sapien, quis luctus felis. Fusce sodales tempus tincidunt. </p>
        </div>
      </li>
    </ul>
  </div>

<%#= link_to "", edit_master_category_url(":id") , :style=>"display:none;" , :id=> "edit_category_link"%>
<%#= link_to "", master_category_url(":id") , :style=>"display:none;" , :id=> "destroy_category_link"%>
<img src="/images/ajax-loader.gif" style="display:none;" id="ajax-loader" class="ajax-loader" />
</body>
