<!--Header-->
<div id="header"> 
  <!--Container-->
  <div class="container clearfix"> 
    
    <%= render :partial => "layouts/logo_menu" %>
    
    <%= render :partial => dashboard_nav( params )  %>
    
    <!--end container--> 
  </div>
  <!--end #header--> 
</div>