<!--Logo--> 
<img id="logo" src="/images/assets/logo.png" alt="logo" /> 
<!--Menu-->
<ul id="menu" class="clearfix">
  <li><a class="" href="index.html">Dashboard</a></li>
  <!-- <li><a href="typography.html">MasterData</a></li> -->
  <li><a href="#">MasterData</a></li>
  <li class="dropdown"> <a href="settings.html">Settings</a>
    <ul>
      <li>Section</li>
      <li><a href="#">Section #1</a></li>
      <li><a href="#">Section #2</a></li>
    </ul>
  </li>
  <li><a href="login.html">Logout</a></li>
</ul>